name: cudd

on:
    pull_request:
    push:
        branches:
            - main

jobs:
  cmake-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        cmake-version: ['3.22', '3.25', '3.25', '3.30', 'latest']

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup cmake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: ${{ matrix.cmake-version }}

      - name: Use cmake
        run: cmake --version